*{
    font-family: sans-serif;
}
.a{
padding:200px;
font-size:20px;
word-spacing:5px;
background-color:aliceblue;
text-align:center;
font-style:italic;
padding-top: 0%;
padding-bottom: 0%;


}
.b{
padding:200px;
font-size:20px;
word-spacing:5px;
background-color:aliceblue;
text-align:center;
font-style:italic;
padding-top: 0%;
padding-bottom: 0%;
}
.c{
padding:200px;
font-size:20px;
word-spacing:5px;
background-color:aliceblue;
text-align:center;
font-style:italic;
padding-top: 0%;
padding-bottom: 0%;
}
.d{
padding:20px;
font-size:20px;
word-spacing:5px;
background-color: #4942E4;
text-align:center;
font-style:italic;
padding-top: 0%;
padding-top: 0%;
color: whitesmoke;

}
.e
{
display:flex;
}
img{
padding:8px;
}
.head{
border: 2px solid black;
display: flex;
position: sticky;
top: 0;
background-color: #2192FF;
justify-content: space-between;
align-items: center;
}
.con1{
display: flex;
align-items: center;
color: white;
}
h1{
font-size: 30px;
padding-left: 1px;
font-weight:700;

}
.con2{
display: flex;
/* padding: 10px; */
align-items: center;
font-size: large;
}
ul{
display: flex;
}
li{
font-size: 15px;
font-weight: bolder;
list-style: none;
padding: 20px;
}
a{
color: white;
text-decoration: none;
}
a:hover{
text-decoration: underline;
color: #FED9ED;
}
.img1{
height: 100px;
width: 100px;;
border-radius: 150px;
align-items: center;
}
body{
background-color: aliceblue;
}

.footer{
/* text-align: center; */
display: flex;
justify-content: center;
background-color:  #2192FF;
/* align-content: space-evenly; */
/* padding: 1px; */
}
.foot1{
padding: 5px;
background-color: aliceblue;
margin-left: 5px;
border-radius: 50%;
}
footer{
border: 2px solid black;
text-align: center;
background-color:  #2192FF;
}
#bf{
color: aliceblue;
}
