.head{
    border: 2px solid black;
    display: flex;
    position: sticky;
    top: 0;
    background-color: #2192FF;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.con1{
    display: flex;
    align-items: center;
    color: white;
}
h1{
    font-size: 30px;
    padding-left: 1px;
    font-weight:700;

}

.con2{
    display: flex;
    /* padding: 10px; */
    align-items: center;
    font-size: large;
}
ul{
    display: flex;
}
li{
    font-size: 15px;
    font-weight: bolder;
    list-style: none;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #FED9ED;
}
.img1{
    height: 100px;
    width: 100px;;
    border-radius: 150px;
    align-items: center;
}
.fram2{
    background-image: url(../images/bg1.jpeg);
    opacity: 0.7;
    /* border: 1px solid black; */
    /* display: inline-flex; */
    /* background-image: url("bg1.jpeg"); */
    display: flex;
    justify-content: space-between;
    padding: 250px;
    text-align: center;
}
.fram2:hover{
    opacity: 1;
}
p{
    font-size: 40px;
    font-weight: bolder;
}
#b1{
    border-radius: 30px;
    font-size: 20px;
    height: 60px;
    width: 140px;
}
.f1{
    color: white;
    text-shadow: 3px 3px 1px blue;
    /* padding-top: -30px; */
    /* padding-bottom: 30px; */
    margin-bottom: 50px;
    /* text-align: center; */
}#b1:hover{
    background-color: #00A9FF;
    color: white;
}
.fram3{
    /* border: 1px solid black; */
    padding: 50px;
    display: grid;
    /* grid-template-columns: repeat(2,200px); */
        grid-template: repeat(2,1fr)/repeat(3,1fr);
    justify-content: space-evenly;
}
/* .p1{
    border: 2px solid black; 
     padding: 5px;
} */
.fr3{
    text-align: center;

}
#p1{
    font-size: 25px;
}

.d{
    padding:1px;
    font-size:20px;
    word-spacing:5px;
    background-color: #4942E4;
    text-align:center;
    font-style:italic;
    padding-top: 0%; 
    color: whitesmoke;

}


img{
    /* padding-right: 50px; */
    /* margin-left: 5px; */
    padding:8px;
}
.fram4{
    border: 1px solid black;
    display: grid;
    /* grid-template: repeat(2,500px)/repeat(2,500px); */
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    grid-gap: 20px;
    /* place-items: center; */

}
.contain1{
    border: 2px solid black;
    background-image: url(veg4.png);
    background-repeat:no-repeat ;
    /* height: 350px; */
    /* width: 300px; */
}
.contain2{
    border: 2px solid black;
    background-image: url(fruitimg.jpg);

}
.contain3{
    border: 2px solid black;
    background-image: url(vegimg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.contain4{
    border: 2px solid black;
}
.card{
    display: grid;
    height: 700px;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
    place-items: center;
    /* justify-content: space-evenly; */

}
.flip-card {
    background-color: transparent;
    display: flex;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    /* background-color: #bbb; */
    color: black;
  }
  
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }
  .par1{
    font-size: 20px;
    font-weight: normal;
    font-family:monospace ;
  }
  .footer{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    background-color:  #2192FF;
    /* align-content: space-evenly; */
    /* padding: 1px; */
}
.foot1{
    padding: 5px;
    background-color: aliceblue;
    margin-left: 10px;
    border-radius: 50%;
}
footer{
    border: 2px solid black;
    text-align: center;
    background-color:  #2192FF;
}
#bf{
    color: aliceblue;
}