
.header{
    background-color: aliceblue;
    text-align: center;
    font-style: italic;
    padding: 0%;
    font-size: 100px;
}
        
.a{
    padding: 200px;
    font-size: 100px;
    word-spacing: 5px;
    background-color: aliceblue;
    font-style: italic;
    background-image: url("veg4.png");
    background-repeat: no-repeat;
    background-size: 1525px 500px;
    text-align: center;

}
.b{
    padding: 200px;
    font-size: 100px;
    word-spacing: 5px;
    background-color:aliceblue;
    font-style: italic;
    background-image: url("fr3.jpeg");
    background-repeat: no-repeat;
    background-size: 1525px 500px;
    text-align: center;
}
.c{
    padding: 200px;
    font-size: 100px;
    word-spacing: 5px;
    background-color:aliceblue;
    font-style: italic;
    background-image: url("nuts1.jpg");
    background-repeat: no-repeat;
    background-size: 1525px 500px;
    text-align: center;

}
.header{
    border: 2px solid black;
    display: flex;
    background-color:blue ;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.con1{
    display: flex;
    align-items: center;
    color: white;
}
h1{
    font-size: 30px;
    padding-left: 80px;
    font-weight:700;

}
.con2{
    display: flex;
    /* padding: 10px; */
    align-items: center;
    font-size: large;
}
ul{
    display: flex;
}
li{
    font-size: 15px;
    font-weight: bolder;
    list-style: none;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
}
.d{
    padding: 100px;
    font-size: 30px;
    word-spacing: 5px;
    background-color:aliceblue;
    font-style: italic;
}
.a{
    font-size: 70px;
    word-spacing: 5px;
    font-style: italic;
    text-align: center;
    color:white;
   font-weight: bold;
}

a{
    text-decoration: none;
}
.d1{
    padding:100px;
    font-size:20px;
    word-spacing:5px;
    background-color:blue;
    text-align:center;
    font-style:italic;
    padding-top: 0%;
    padding-top: 0%;
    color: whitesmoke;

}


img{
    padding:8px;
}
